<%-include('../includes/header.ejs')%>
<link rel="stylesheet" href="/css/home.css">

</head>
<body>
  <%-include('../includes/navigation.ejs')%>
<div class="content-section">
    <form method="POST" action="/register">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
        </fieldset>
        <div class="form-control">
            <label for="name">name</label>
            <input type="text" name="name" id="name" >
        </div>
    
        <div class="form-control">
            <label for="age">age</label>
            <input type="number" name="age" id="age">
        </div>
        <div class="form-control">
            <label for="email">email</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="form-control">
            <label for="password">password</label>
            <input type="password" name="password"  id="password">
        </div>
        <div class="form-control">
            <label for="avatar">avatar</label>
            <input type="text" name="avatar"  id="avatar">
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="5"></textarea>
        </div>
        
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
    <!-- <form action="/register" method="post">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" >
        </div>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form> -->
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="/login">Sign In</a>
        </small>
    </div>
</div>
<%- include('../includes/footer.ejs')%>