<%-include('../includes/header.ejs')%>
<link rel="stylesheet" href="/css/home.css">

</head>
<body>
  <%-include('../includes/navigation.ejs')%>
  <h1>about page</h1>
<%- include('../includes/footer.ejs')%>